@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Header Height */
        --header-height: 3.5rem;
        /* Font Styles */
        --font-mono: 'DM Mono', monospace;
        --font-lato: 'Lato', sans-serif;
        /* Custom Color Components */
        --first-hue: 187deg;
        --second-hue: 219deg;
        --sat: 86%;
        --lig: 59%;
        /* Custom Colors Palletes Variable */
        --first-color: var(--first-hue) var(--sat) var(--lig);
        --fist-color-alt: var(--first-hue) var(--sat) 55%; /* -4% lightness */
        --title-color: var(--second-hue) 70% 88%;
        --prime-color: var(--second-hue) 20% 61%;
        --prime-color-dark: var(--second-hue) 20% 56%;
        --body-color: var(--second-hue) 48% 8%;
        --container-color: var(--second-hue) 40% 16%;
        --white: #fff;
        --black: #000;
    }
    body, input, textarea {
        @apply font-lato;
    }
    body {
        @apply m-0 p-0 fs-lg leading-5 text-c-prime-dark bg-c-body;
    }
    h1, h2, h3 {
        @apply text-c-title font-semibold
    }
    a {
        @apply font-mono transe-ease hover:text-c-first
    }
}

@layer components {
    /* Reusable Classes */
    .logo {
        @apply w-[35px] h-[35px] xm:w-[30px] xm:h-[30px] md:w-[40px] md:h-[40px] lg:w-[45px] lg:h-[45px]
    }
    /* Tooltip Styles */
    .tooltip {
        @apply relative
    }
    .tooltip-text {
        @apply absolute top-0 left-[50%] translate-x-[-50%] fs-sm py-1 px-3 bg-c-body rounded-[4px] shadow-first pointer-events-none  invisible opacity-0 transe-ease;
    }
    .tooltip-text::after {
        @apply content-[''] absolute top-full left-[50%] translate-x-[-50%];
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 10px solid hsl(var(--body-color));
    }
    .tooltip:hover .tooltip-text {
        @apply visible opacity-100 top-[-110%];
    }
    /* Section Styles */
    .section {
        @apply pt-16 pb-4 lg:pt-24 xl:pt-32 xl:pb-8
    }
    /* Button Styles */
    .btn {
        @apply font-mono fs-sm py-4 px-5 xm:py-3 xm:px-4 rounded-md
    }
    .btn-hollow {
        @apply border border-solid border-c-first text-c-first hover:bg-c-first/10;
    }
    .btn-filled {
        @apply bg-c-first text-c-body hover:bg-c-first/80 hover:text-c-body;
    }
}

@layer utilities {
    
}

/* Header Desktop Menu Styles */
#desktop-menu ul li {
    @apply fs-sm;
    counter-increment: item 1;
}
#desktop-menu ul li a {
    &::before {
        @apply content-["0"_counter(item)_"."] fs-xm mr-[5px] text-c-first
    }
}